@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #243887;
  --secondary: #25f8e8;
  --module-txt: #013242;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 28px 0 rgba(0,0,0,0.06);
}

body {
  color: white;
  font-size: 14px;
}
