@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #243887;
  --secondary: #2c6e49;
  --cta-bg: var(--primary);
  --cta-text: black;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #243887;
  box-shadow: 0 2px 28px 0 rgba(0,0,0,0.06);
}

.container {
  width: 95%;
}

body {
  color: white;
  font-size: 14px;
}
